*

!development_behavior_packs/
!development_behavior_packs/choascraft_BP/
!development_behavior_packs/choascraft_BP/**
!development_behavior_packs/ed_paint_BP/
!development_behavior_packs/ed_paint_BP/**
!development_behavior_packs/firefly_ZC_BP/
!development_behavior_packs/firefly_ZC_BP/**
!development_behavior_packs/zc_mob_heads_BP/
!development_behavior_packs/zc_mob_heads_BP/**
!development_behavior_packs/World_menu_BP/
!development_behavior_packs/World_menu_BP/**

!development_resource_packs/
!development_resource_packs/choascraft_RP/
!development_resource_packs/choascraft_RP/**
!development_resource_packs/ed_paint_RP/
!development_resource_packs/ed_paint_RP/**
!development_resource_packs/firefly_ZC_RP/
!development_resource_packs/firefly_ZC_RP/**
!development_resource_packs/zc_mob_heads.RP/
!development_resource_packs/zc_mob_heads.RP/**
!development_resource_packs/world_menu_RP/
!development_resource_packs/world_menu_RP/**

!.gitignore

**/.xdp-*